@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Ma+Shan+Zheng&display=swap');

@import url('https://fonts.googleapis.com/earlyaccess/notosansmongolian.css');

body {
    background-image: url("./background.png");
    font-family: 'Noto Sans SC', 'Noto Sans Mongolian', sans-serif;
    writing-mode: vertical-lr;
}

hr {
    border: 1px solid red;
}

#number-viewer {
    writing-mode: vertical-lr;
    width: auto;
    height: 780px;
    padding: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Ma Shan Zheng', 'Noto Sans Mongolian', sans-serif;
    font-size: 120px;
    border: 5px solid red;
    background-color: yellow;
    color: red;
}

input.text-input {
    width: 40px;
    height: 20px;
    border: 1px solid red;
    font-family: inherit;
    font-size: 20px;
    padding: 10px;
}

input#excpt,
input#select {
    width: 100px;
    height: 20px;
}

input.button-input {
    width: fit-content;
    background-color: yellow;
    color: red;
    border: none;
    font-family: inherit;
    font-size: 20px;
    padding: 10px;
}

input.button-input:disabled {
    background-color: rgba(239, 239, 0, 0.3);
}

input.checkbox-input {
    width: 70px;
    height: 20px;
}

div#banner {
    width: 200px;
    height: 600px;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
}

ruby {
    line-height: 60px;
}