@font-face {
    font-family: 'Noto Serif CJK KR';
    src: url('NotoSerifCJKkr-Regular.otf');
}
@font-face {
    font-family: 'Noto Serif CJK KR';
    src: url('NotoSerifCJKkr-Black.otf');
    font-weight: 900;
}

div.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 50px;
    font-weight: 900;
    color: #00000018;
    user-select: none;
    cursor: default;
    z-index: -1;
    overflow: hidden;
    writing-mode: vertical-rl;
}

body {
    font-family: 'Noto Serif CJK KR', serif;
}
hr {
    border: 1px solid black;
}
#number-viewer {
    writing-mode: vertical-rl;
    width: auto;
    height: 510px;
    padding: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: inherit;
    font-size: 170px;
    border: 5px solid black;
    background-color: white;
    color: black;
}
input.text-input {
    width: 70px;
    height: 20px;
    border: 1px solid black;
    font-family: inherit;
    font-size: 20px;
    padding: 10px;
}
input#excpt, input#select {
    width: initial;
}
input.button-input {
    width: fit-content;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-family: inherit;
    font-size: 20px;
    padding: 10px;
}
input.button-input:disabled {
    background-color: rgba(239, 239, 239, 0.3);
}
input.checkbox-input {
    width: 70px;
    height: 20px;
}
div#banner {
    width: 200px;
    height: 600px;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}